.add_word_form {
	margin-top: 35px;
	.form_label {
		span {
			font-style: normal;
			font-weight: 500;
			font-size: 20px;
			margin-left: 15px;
			color: #ffffff;
		}
		input {
			margin-top: 10px;
		}
	}
}
