.add_word_form {
	margin-top: 35px;
	.from_wrp {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		gap: 20px;
		&_left {
			display: grid;
			gap: 20px;
			width: 100%;
			@media screen and (max-width: 768px) {
				margin-bottom: 20px;
			}
		}
		&_rigth {
			display: grid;
			width: 376px;
			gap: 20px;
		}
		@media screen and (max-width: 768px) {
			display: block;
			&_rigth {
				width: 100%;
			}
		}
	}
	.form_label {
		.form_tags {
			margin-top: 10px;
			display: flex;
			flex-wrap: wrap;
			gap: 10px;
		}
		span {
			font-style: normal;
			font-weight: 500;
			font-size: 20px;
			margin-left: 15px;
			color: #ffffff;
		}
		.error {
			color: #db0000 !important;
			font-weight: 400;
		}
		input,
		textarea {
			margin-top: 10px;
			resize: none;
			width: 100%;
		}
	}
	button {
		margin-top: 40px;
	}
}
.thxForAdded,
.thxForAdded {
	margin: 0 auto;
	width: 50%;
	text-align: center;
	display: grid;
	gap: 20px;
	box-sizing: border-box;
	margin-top: 50px;
	span {
		font-size: 24px;
		color: #fff;
	}
}
