@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Commissioner', sans-serif;
}

body {
  background: #0e1238;
}

.container {
  width: 1168px;
  margin: 0 auto;
}

section {
  margin-bottom: 100px;
}

h1 {
  font-family: 'Commissioner';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #ffffff;
}
h2 {
  font-family: 'Commissioner';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #ffffff;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 720px;
    margin: 0 auto;
  }
  section {
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 290px;
    margin: 0 auto;
  }
  section {
    margin-bottom: 40px;
  }
}

*::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  font-weight: 300;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
*:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-weight: 300;
  font-size: 20px;
  color: rgb(255, 255, 255);
  opacity: 1;
}
*::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-weight: 300;
  font-size: 20px;
  color: rgb(255, 255, 255);
  opacity: 1;
}
*:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-weight: 300;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
*::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(255, 255, 255);
}

*::placeholder {
  /* Most modern browsers support this now. */
  font-weight: 300;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
