@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Commissioner', sans-serif;
}

body {
	background: #0e1238;
}

.container {
	width: 1168px;
	margin: 0 auto;
}

section {
	margin-bottom: 100px;
}

h1 {
	font-family: 'Commissioner';
	font-style: normal;
	font-weight: 700;
	font-size: 64px;
	line-height: 78px;
	color: #ffffff;
}
h2 {
	font-family: 'Commissioner';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 49px;
	color: #ffffff;
}

@media screen and (max-width: 1200px) {
	.container {
		width: 720px;
		margin: 0 auto;
	}
	section {
		margin-bottom: 70px;
	}
}

@media screen and (max-width: 768px) {
	.container {
		width: 290px;
		margin: 0 auto;
	}
	section {
		margin-bottom: 40px;
	}
}
