.footer {
	background: #5d6eff;
	border-radius: 25px 25px 0px 0px;
	padding: 50px 0;
	.footer_wrp {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media screen and (max-width: 1200px) {
			flex-wrap: wrap;
			gap: 15px;
			justify-content: space-evenly;
		}
	}
}
.nav_links {
	display: flex;
	gap: 30px;
	align-items: center;
	text-decoration: none;
	list-style-type: none;
	@media screen and (max-width: 768px) {
		display: grid;
		grid-gap: 10px;
		text-align: center;
	}
	a {
		text-decoration: none;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		color: #ffffff;
		transition: all 0.4s ease-in-out;
	}
	:hover {
		font-weight: 600;
	}
}
.info_autor {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	width: 233px;
	color: #ffffff;
}
