.header {
	margin-top: 30px;
	margin-bottom: 90px;
	.nav_wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.mobile_menu {
			display: none;
		}
		.nav_links {
			display: flex;
			gap: 30px;
			align-items: center;
			text-decoration: none;
			list-style-type: none;
			a {
				text-decoration: none;
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 22px;
				color: #ffffff;
				transition: all 0.4s ease-in-out;
			}
			:hover {
				color: #5d6eff;
				font-weight: 600;
			}
		}
		@media screen and (max-width: 1200px) {
			.nav_links {
				gap: 15px;
				a {
					font-size: 16px;
					line-height: 20px;
				}
			}
			.logo {
				width: 243px;
				height: 33px;
			}
		}
		@media screen and (max-width: 768px) {
			.nav_links {
				display: none;
			}
			.sign_in {
				display: none;
			}
			.mobile_menu {
				display: block;
				padding: 13px 10px;
				background: rgba(0, 0, 0, 0.5);
				border-radius: 9px;
			}
			.logo {
				width: 213px;
				height: 29px;
			}
		}
	}

	.sign_in {
		padding: 10px 20px;
		background: rgba(0, 0, 0, 0.5);
		border-radius: 48px;
		border: none;
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 22px;
		color: #ffffff;
		transition: all 0.4s ease-in-out;
		cursor: pointer;
	}
	.sign_in:hover {
		background: rgba(225, 225, 225, 0.5);
	}
	@media screen and (max-width: 1200px) {
		margin-bottom: 60px;
	}
	@media screen and (max-width: 768px) {
		margin-bottom: 50px;
	}
}
.right_side_grid {
	align-items: center;
	display: flex;
	gap: 10px;
	.profile {
		width: 40px;
		height: 40px;
		border-radius: 40px;
		color: #5d6eff;
		background-color: #fff;
	}
	.profile:hover {
		padding: 10px;
		color: #fff;
		font-weight: bold;
		text-decoration: none;
	}
	.profile_img {
		img {
			border-radius: 40px;
			transition: all 0.4s ease-in-out;
		}
		img:hover {
			border: 2px solid rgb(255, 255, 255);
		}
	}
}

.active_link {
	background-color: rgba(225, 225, 225, 0.5);
	padding: 5px 10px;
	border-radius: 25px;
}

.mobile_navBar {
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(6px);
	border-radius: 8px;
	padding: 20px 30px;
	position: absolute;
	width: inherit;
	.nav_links {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 15px;
		list-style-type: none;
	}
	li {
		a {
			color: #ffffff;
			text-decoration: none;
		}
	}
}
