@import '@/styles/_variable.scss';

.teg {
  padding: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 110.5%;
  color: #ffffff;

  cursor: pointer;
  width: fit-content;

  border-radius: 49px;

  &.blue {
    background-color: #5e6eff;
  }
  &.pink {
    background-color: #9c2dcd;
  }
}

@include _1200 {
  .teg {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 110.5%;
  }
}

@include _768 {
  .teg {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 110.5%;
  }
}
